h1 {
  text-align: center;
}
label {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 0px;
  align-items: stretch;
}
body {
background: linear-gradient(169deg, rgba(201,143,233,1) 39%, rgba(65,212,180,1) 78%);
color: #ffffff;
font-family: Tahoma;
font-size: 16px;
}

input {
  margin: 15px;
}
p{
  text-align: center;
  text-decoration-color: black;
}
form{
  text-align: center;
}
fieldset{
  border-style: none;
}
.passou{
  background-color: rgb(12, 230, 12);
  color:rgb(5, 68, 5)
}
.reprovado{
  background-color: rgb(224, 0, 0);
  color:rgb(255, 255, 255)
}
@media (max-width: 390px ){
  html,label,input,p,h1 {
    font-size: 20px;
  }
}